.advantage{
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 95px 0;
    &__header{
        font-size: 30px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__item{
        width: 340px;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__animate{
        &:hover{
            // animation-name: heartbeat;
            // animation-duration: 2s;
            // animation-timing-function: ease;
            // animation-iteration-count: infinite;
            animation: heartbeat 2s ease infinite;
        }
    }
    &__title{
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
        margin-top: 38px;
    }
    &__descr{
        font-size: 14px;
        font-weight: 300;
        color: #0d0d0d;
        margin-top: 26px;
        transition: 0.7s all;
        a {
            text-decoration: none;
            color: #ff0000;
            &:hover{
                text-decoration: underline;
            }
        }

    }
}