* {
    box-sizing: border-box;
    font-family: 'Museo Sans Cyrl';
    // overflow-x: hidden;
}
.container{
    width: 950px;
    margin: 0 auto;
    padding: 0 10px;
    overflow-x: hidden;
}

@import '_variables';
@import '_animate';
@import '_mixins';
@import '_fonts';
@import '_main';
@import '_header';
@import '_button';
@import '_advantage';
@import '_consultation';
@import '_forms';
@import '_slider';
@import '_catalog';
@import '_review';
@import '_footer';
@import '_modal';
@import '_pageup';
@import '_media';